body{
	background-color: black;
	text-align: center;
	color: white;
	margin-top: 0em;
	margin-bottom: 2em;
}
div.welcome, div.error, div.uploadDownload{
	font-size: 1.2em;
	font-family: monospace;
/* 	border: thin white dashed; */
	width: 95%;
	margin: auto;
	margin-top: 1.5em;
	color: lightgray;
}
div.uploadDownload{
	margin-top: 3%;
	width: 90%;
}
div.uploadDownload form{
	margin-top: 2em;
}
div.linkGroup{
	border: dashed thin white;
	width: 100%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}
div.link{
	margin: 1.5em;
}
div.welcome{
	font-size: 1.6em;
}
input[type=file]{
	margin: 1em;
	height: 3em;
	width: 22em;
}
input[type=submit]{
	margin: 1em;
	height: 3em;
	width: 10em;
}
img#img1{
	width: 80%;
	margin-bottom: 2em;
}
footer{
	margin-top: 5em;
	font-size: 1em;
	font-family: monospace;
	color: lightgray;	
}
footer a, error a{
	font-size: 1.2em;
}
a:link{
	color: green;
}
a:visited{
	color: teal;
}
a:hover{
	color: lime;
}
a:active{
	color: red;
}
div.error{
	font-size: 0.8em;
}
div.error a{
	line-height: 3;
	font-size: 1.8em;
}
div#stacktrace{
	line-height: 1.5;
	font-size: 0.4em;
}
